#contact_modal {
    display: none;
    position: static;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: rgba(200, 200, 200, 0.8);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_button, .conta_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 526px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: static;

}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.Photo_title {
    line-height: 50px;
    text-align: left;
}

.Photo_title .lieu {
    font-size: 20px;
}

.like {
    position: fixed;
    font-size: 19px;
    bottom: 0px;
    background-color: #DB8876;
    width: 225px;
    padding: 10px;
    right: 36px;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.heart {
    font-family: -webkit-pictograph;
}

.title .heart{
    cursor: pointer;
}

.like .heart {
    margin-right: 75px;
    font-size: 20px;
    margin-bottom: 3px;

}

.photograph-pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.photograph-pics img, .photograph-pics video {

    width: 400px;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.cont {
    margin: 50px 95px;
    font-size: 24px;
    color: #911C1C;
    line-height: 31px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.trie {
    margin: 35px 100px;
    font-weight: bold;
    display: flex;
    font-size: 18px;
    align-items: center;
}

#box {
    position: absolute;
    margin-left: 110px;
    margin-top: 8px;
    font-size: 18px;
    color: white;
    padding: 11px;
    width: 110px;
    height: fit-content;
    background-color: #901C1C;
    border-radius: 5px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    line-height: 38px;
    cursor: pointer;
    
}

#box.responsive{
    margin-top: 86px;
}

#box .trie-box2, #box .trie-box3  {
    display: none;
    border-top: white 1px solid;
}

#box.responsive .trie-box2, #box.responsive .trie-box3 {
    font-weight: normal;
    display: flex;
}

#box.responsive a:hover {
    color: #DB8876;
}

#box span{

    position: absolute;
    margin-left: 95px;
    font-size: 40px;
    margin-top: 12px;
}

#box .arrow2{

    -webkit-transform: rotate(180deg) translatey(27px);

}

#lightbox{
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(150, 150, 150, 0.8);
}

.rightarrow, .leftarrow, .x{
    color: #901C1C;
    font-size: 100px;
    position: absolute;
    cursor: pointer;
}

.rightarrow{
    margin-left: 95%;
}
.leftarrow{
    margin-right: 95%;
}

.x{
    margin-left: 90%;
    margin-bottom: 800px;
}

#lightbox img, #lightbox video{
    height: 70%;
    margin-top: 30px;
}

#lightbox .mySlides{
    height:100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titl{
    color: #901C1C;
    font-size: 30px;
    margin-right: 43%;
    width: 58%;
    white-space: nowrap;
}

.Message{
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: 0px;
}

label{
    width: 100%;
}